<%- include ('partials/header.ejs') %>
<body>
    <%- include ('partials/navbar.ejs') %>
    <div class="container" id="main-div">
        <h1>INDEX</h1>
    </div>
    
<%- include ('partials/footer.ejs') %>
